body{
	margin: 0;
	padding: 0;
}

.weather{
	font-family: Calibri;
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 20px 6px rgba(204,204,204,1);
    box-shadow: 0px 0px 10px 3px rgba(204,204,204,1);
}

.weather .title{
	font-size: 24px;
	float: left;
}

.weather .temp{
	width: 100%;
    float: left;
	margin-top: 10px;
}

.weather .tempText{
    font-size: 50px;
    width: 120px;
    float: left;
}
.weather .condition{
	font-size: 14px;
    float: left;
	text-align: center;
}
.weather .condImg{
	height: 42px;
    width: 60px;
    margin: 0 auto;
}

.condImg[code="1"], .condImg[code="2"], .condImg[code="3"], .condImg[code="4"]{
	background-position: -94px -185px;
    background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.condImg[code="5"], .condImg[code="6"], .condImg[code="7"], .condImg[code="8"], .condImg[code="9"].condImg[code="10"], .condImg[code="35"]{
    background-position: -1110px -446px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.condImg[code="11"], .condImg[code="12"]{
    background-position: -95px -258px;
    background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}

.condImg[code="13"],
.condImg[code="14"],
.condImg[code="15"],
.condImg[code="16"],
.condImg[code="17"],
.condImg[code="18"],
.condImg[code="19"],
.condImg[code="20"],
.condImg[code="21"],
.condImg[code="22"],
.condImg[code="23"],
.condImg[code="24"],
.condImg[code="25"]{
	background-position: -178px -185px;
    background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}

.condImg[code="26"]{
	background-position: -94px -32px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}

.condImg[code="27"],
.condImg[code="28"],
.condImg[code="29"],
.condImg[code="30"]{
	background-position: -170px -36px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.condImg[code="31"], .condImg[code="33"]{
	background-position: -172px -250px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.condImg[code="32"], .condImg[code="34"]{
	background-position: -22px -32px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.condImg[code="36"]{
    background-position: -96px -259px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.condImg[code="37"],
.condImg[code="38"],
.condImg[code="39"],
.condImg[code="40"]{
	background-position: -246px -255px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.condImg[code="40"],
.condImg[code="41"],
.condImg[code="42"],
.condImg[code="43"],
.condImg[code="44"],
.condImg[code="45"],
.condImg[code="46"],
.condImg[code="47"]{
	background-position: -362px -112px;
	background-image: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/icons2.jpg);
}
.weather .spinner{
	height: 20px;
    width: 20px;
    background: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/spinner.gif) no-repeat;
    display: none;
    margin: 0 auto;
}

.weather .refresh{
    background: url(https://raw.githubusercontent.com/krunal2450/weatherwidget/master/img/refresh.png);
    height: 24px;
    width: 24px;
    border: none;
    background-size: 100%;
    cursor: pointer;
	outline: none;
	margin: 3px 15px;
}
.weather .forecastCont{
	width: 100%;
    float: left;
	margin-top: 10px;
}

.weather .forecastEle{
	border-right: 1px solid #ccc;
    float: left;
    text-align: center;
    padding: 5px 5px;
    margin-top: 5px;
}

.weather .forecastEle:last-child {
    border-right: 0;
}

.weather .error{
	color: #ff3424;
}

.weather form.add{
	width: 200px;
	display: none;
}
.weather form input{
	margin: 5px;
}